<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="author" content="Mateus Selani">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>@import url(css/styles.css);</style>
    <title>Empresa</title>
</head>
<body>
    <div class="jumbotron">
        <h1>Site</h1>
        <br/><br/>
        <!-- Paginacao Site -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <!-- Gato -->
                    <li><a style="width: 10%"></a></li>
                    <li><a href="/"><span 
                        class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li><a href="/empresa">Empresa</a></li>
                    <li><a href="/contato">Contato</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/inscreva-se">
                        <span class="glyphicon glyphicon-user"></span> Inscrever-se</a></li>
                    <li><a href="/login">
                        <span class="glyphicon glyphicon-log-in"></span> Entrar</a></li>
                    <!-- Gato -->
                    <li><a style="width: 10%"></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- Conteudo do Site -->
    <div id="contentSite">
        <h2>Empresa</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br/>
            Numquam, ex! Quis neque ullam earum illum! Aperiam veritatis<br/>
            quae, quidem perferendis maiores commodi quas quam adipisci,<br/>
            expedita obcaecati quia, assumenda sequi!</p>
    </div>
</body>
</html>